.logo img{
    margin-left: 20em;
    margin-right: 3em;
}

@media (max-width: 768px){
    .burger{
        margin-left: 0.5em;
    }
    .logo img{
        width: 105%;
        margin: 0;
    }
    .eastSide{
        padding: 0 0 1em 0;
    }
    .westSide{
        padding-bottom: 1em;
    }
}